@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F2F2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F2F2F2;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

/* Greeting Section */
.greeting-section {
  background-color: #579076;
  color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

/* Search Bar */
.searchbar-section {
  padding: 1.5em 1.25em;
}

.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 3rem;
  padding: 1em;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 1em;
}

.searchbar input {
  flex: 1;
  padding: 1em;
  border: none;
  outline: none;
  font-size: 1em;
  color: gray; /* Default text color */
  transition: color 0.3s ease;
}

.searchbar input:focus {
  color: #579076; /* Text color when user types */
}

/* Filter Button */
.filter-button {
  background-color: #579076;
  color: white;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
}

.filter-button svg {
  margin-right: 0.5em;
}

/* My Collection Section */
.my-collection-section {
  background-color: #F2F2F2;
  padding: 1.5em 1.25em;
}

.my-collection-section h2 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
}

/* Active Filters */
.active-filters {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.active-filter {
  background-color: #579076;
  color: white;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  font-size: 0.9em;
}