.toxic-badge-container {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 2.5rem;  
  height: 2.5rem; 
  background-color: #f44336;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toxic-badge-container img {
  width: 2rem; 
  height: 2rem; 
  object-fit: contain;
}

